            <div class="row end_footer">
              <div class="col-md-1"></div>
              <div class="col-md-8">
                <p>
                  <a href="https://kde.org">
                      <img style="height:1.5em;" src="{{ "/images/kde.svg" | prepend: site.baseurl }}" alt="KDE">
                      KDE
                  </a>
                  <span style="padding-left:20px">
                    Copyright &copy; 2016-2025 Kaidan Team | Design based on <a href="https://invent.kde.org/websites/falkon-org">Falkon.org</a> and <a href="https://github.com/pranavrajs/swift">Swift</a> theme.
                  </span>
                </p>
              </div>
              <div class="col-md-1"></div>
            </div>
